/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Builds]/
/[Logs]/
/[UserSettings]/
/[MemoryCaptures]/

# Archivos de Visual Studio
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos del Sistema
.DS_Store
Thumbs.db
